Src/BlogManagermentTool/BlogManagermentTool/Connected Services/BlogManagermentServiceReference/BlogAdminMangermentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BlogAdminMangermentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61999/BlogAdminMangermentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61999/BlogAdminMangermentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61999/BlogAdminMangermentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlogManagermentService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBlogAdminMangermentService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IBlogAdminMangermentService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogAdminMangermentService_CreateNewCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCategory" />
  </wsdl:message>
  <wsdl:message name="IBlogAdminMangermentService_CreateNewCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogAdminMangermentService_NumberCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:NumberCategories" />
  </wsdl:message>
  <wsdl:message name="IBlogAdminMangermentService_NumberCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumberCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IBlogAdminMangermentService_GetCategorybyIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategorybyIndex" />
  </wsdl:message>
  <wsdl:message name="IBlogAdminMangermentService_GetCategorybyIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategorybyIndexResponse" />
  </wsdl:message>
  <wsdl:portType name="IBlogAdminMangermentService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogAdminMangermentService/DoWork" message="tns:IBlogAdminMangermentService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogAdminMangermentService/DoWorkResponse" message="tns:IBlogAdminMangermentService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogAdminMangermentService/CreateNewCategory" message="tns:IBlogAdminMangermentService_CreateNewCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogAdminMangermentService/CreateNewCategoryResponse" message="tns:IBlogAdminMangermentService_CreateNewCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NumberCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogAdminMangermentService/NumberCategories" message="tns:IBlogAdminMangermentService_NumberCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogAdminMangermentService/NumberCategoriesResponse" message="tns:IBlogAdminMangermentService_NumberCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategorybyIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/IBlogAdminMangermentService/GetCategorybyIndex" message="tns:IBlogAdminMangermentService_GetCategorybyIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBlogAdminMangermentService/GetCategorybyIndexResponse" message="tns:IBlogAdminMangermentService_GetCategorybyIndex_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBlogAdminMangermentService" type="tns:IBlogAdminMangermentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IBlogAdminMangermentService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewCategory">
      <soap:operation soapAction="http://tempuri.org/IBlogAdminMangermentService/CreateNewCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NumberCategories">
      <soap:operation soapAction="http://tempuri.org/IBlogAdminMangermentService/NumberCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategorybyIndex">
      <soap:operation soapAction="http://tempuri.org/IBlogAdminMangermentService/GetCategorybyIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogAdminMangermentService">
    <wsdl:port name="BasicHttpBinding_IBlogAdminMangermentService" binding="tns:BasicHttpBinding_IBlogAdminMangermentService">
      <soap:address location="http://localhost:61999/BlogAdminMangermentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>