Src/BlogManagermentTool/BlogManagermentTool/Connected Services/BlogManagermentServiceReference/BlogAdminMangermentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlogManagermentService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlogManagermentService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateObjectInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateObjectInfo" nillable="true" type="tns:CreateObjectInfo" />
  <xs:complexType name="OverviewInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OverviewInfo" nillable="true" type="tns:OverviewInfo" />
</xs:schema>