Src/BlogManagermentTool/BlogManagermentTool/Connected Services/BlogManagermentServiceReference/BlogAdminMangermentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61999/BlogAdminMangermentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlogManagermentService" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BlogManagermentService" minOccurs="0" name="CreateNewCategoryResult" nillable="true" type="q1:CreateObjectInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumberCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumberCategoriesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategorybyIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategorybyIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BlogManagermentService" minOccurs="0" name="GetCategorybyIndexResult" nillable="true" type="q2:OverviewInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>